.container {
  position: relative;
  width: 100%;
  height: 66px;
  border-bottom: 2px solid gray;
  box-shadow: 1px black;
}

.container-left {
  float: left;
  margin-left: 10px;
  font-size: 1.8rem;
  cursor: pointer;
}

ul {
  float: right;
  list-style-type: none;
}

ul > li {
  float: left;
  margin: 0 15px;
  padding-top: 23px;
  cursor: pointer;
  color: gray;
}

li:hover {
  color: black;
}
